.item {
	border-radius: 1rem;
	padding: 1.5rem;
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
	background: #fff;
	height: 100%;
	cursor: pointer;

	transition: 0.2s;

	&:hover {
		box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
		// transform: scale(1.02);
	}
}
.title {
	font-weight: 700;
	font-size: 24px;
	line-height: 125%;
	color: #262c40;
	margin-bottom: 1.5rem;
}
.info {
	& > div + div {
		margin-top: 0.75rem;
	}

	& > div {
		display: flex;
		gap: 0.875rem;
		word-break: break-all;
	}
}
